<ion-view title="ACA Salud - Catamarca 2293" id="page7">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <button id="cartel-button5" class="button button-positive  button-block" ng-click="takePicture();">Tomar fotografía</button>
    <form id="cartel-form2" class="list">
      <label class="item item-input" id="cartel-input4">
        <span class="input-label">Cliente</span>
        <input type="text" placeholder="Cliente">
      </label>
      <label class="item item-input" id="cartel-input5">
        <span class="input-label">Campaña</span>
        <input type="text" placeholder="Campaña">
      </label>
      <label class="item item-input" id="cartel-input6">
        <span class="input-label">Dirección</span>
        <input type="text" placeholder="Dirección">
      </label>
      <label class="item item-input" id="cartel-input7">
        <span class="input-label">Soporte</span>
        <input type="text" placeholder="Soporte">
      </label>
      <label class="item item-input" id="cartel-input8">
        <span class="input-label">Empresa</span>
        <input type="text" placeholder="Empresa de vía pública">
      </label>
      <label class="item item-input" id="cartel-input9">
        <span class="input-label">Estado</span>
        <input type="text" placeholder="Estado">
      </label>
      <label class="item item-input item-stacked-label" id="cartel-input10">
        <span class="input-label">Observaciones</span>
        <input type="text" placeholder="Observaciones">
      </label>
      <button id="cartel-button6" class="button button-positive  button-block">Guardar auditoría</button>
    </form>
  </ion-content>
</ion-view>