<ion-view title="Sincronizar" id="page3">
  <ion-content padding="true" class="has-header">
    <button id="sincronizar-button3" class="button button-balanced  button-block">Sincronizar Todo</button>
    <button id="sincronizar-button4" class="button button-positive  button-block">Sincronizar Seleccionados</button>
    <ion-list id="sincronizar-list3">
      <ion-item class="item-thumbnail-left item-icon-right" id="sincronizar-list-item2">
        <img src="img/LPYiOpuyTHyI7RPn9DXn_M_J_Ossandon_574.jpg">
        <h2>Campana #1</h2>
        <p>12/02/2016</p>
        <i class="icon ion-android-checkbox"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="sincronizar-list-item3">
        <img src="img/LPYiOpuyTHyI7RPn9DXn_M_J_Ossandon_574.jpg">
        <h2>Campana #1</h2>
        <p>12/02/2016</p>
        <i class="icon ion-android-checkbox"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="sincronizar-list-item4">
        <img src="img/LPYiOpuyTHyI7RPn9DXn_M_J_Ossandon_574.jpg">
        <h2>Campana #1</h2>
        <p>12/02/2016</p>
        <i class="icon ion-android-checkbox-blank"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="sincronizar-list-item5">
        <img src="img/LPYiOpuyTHyI7RPn9DXn_M_J_Ossandon_574.jpg">
        <h2>Campana #1</h2>
        <p>12/02/2016</p>
        <i class="icon ion-android-checkbox-blank"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>